# Permasalahan Umum pada Kualitas Data

## Permasalahan Tipe Data

### Konversi Tipe Data Object ke String

In [1]:
import pandas as pd
 
# Mendefinisikan data penjualan
data = {
    "product_id": [1,2,3],
    "product_name": ["Camera DSLR", "Lensa Wide EF-S 24mm F2.8", "SD Card Xtreme Pro 32GB"],
    "product_price": ["100000", "150000", "200000"],
    "product_sold": ["100", "200", "300"],
    "order_date": ["2024-12-25", "2024-12-26", "2024-12-27"],
    "delivery_status": [1,0,1]
}
 
# Mengonversi data menjadi DataFrame
df = pd.DataFrame(data)
 
# Menampilkan DataFrame
print(df.info())
 
# Mengonversi kolom product_name menjadi string.
df['product_name'] = df['product_name'].astype('string')
 
# Menampilkan DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       3 non-null      int64
 1   product_name     3 non-null      object
 2   product_price    3 non-null      object
 3   product_sold     3 non-null      object
 4   order_date       3 non-null      object
 5   delivery_status  3 non-null      int64
dtypes: int64(2), object(4)
memory usage: 276.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       3 non-null      int64
 1   product_name     3 non-null      string
 2   product_price    3 non-null      object
 3   product_sold     3 non-null      object
 4   order_date       3 non-null      object
 5   delivery_status  3 non-null      int64
dtypes: int64(2), object(3), string(1)
memory usage: 276.0+ bytes
None

### Intermezzo: Metode Indexing dan Slicing DataFrame

In [2]:
import pandas as pd
 
# Membuat DataFrame
data = {
    "product_name": ["A", "B", "C"],
    "product_price": [10, 20, 30]
}
df = pd.DataFrame(data)
print(df)

  product_name  product_price
0            A             10
1            B             20
2            C             30

In [3]:
df_indexing = df['product_price']
print(df_indexing)

0    10
1    20
2    30
Name: product_price, dtype: int64

In [4]:
df_slicing = df[0:2]
print(df_indexing)

0    10
1    20
2    30
Name: product_price, dtype: int64

## tipe data

In [5]:
import pandas as pd
 
# Mendefinisikan data penjualan
data = {
    "product_id": [1,2,3],
    "product_name": ["Camera DSLR", "Lensa Wide EF-S 24mm F2.8", "SD Card Xtreme Pro 32GB"],
    "product_price": ["100000", "150000", "200000"],
    "product_sold": ["100", "200", "300"],
    "order_date": ["20241225", "20241226", "20241227"],
    "delivery_status": [1,0,1]
}
 
# Mengonversi data menjadi DataFrame
df = pd.DataFrame(data)
 
# Menampilkan DataFrame
print(df.info())
 
# Mengubah tipe data kolom.
df['product_name'] = df['product_name'].astype('string')  # Mengubah tipe data menjadi string
df['product_price'] = df['product_price'].astype('float') # Mengubah tipe data menjadi float
df['product_sold'] = df['product_sold'].astype('int') # Mengubah tipe data menjadi integer
df['order_date'] = pd.to_datetime(df['order_date']) # Mengubah tipe data menjadi datetime
df['delivery_status'] = df['delivery_status'].astype('category') # Mengubah tipe data menjadi category
 
# Menampilkan DataFrame
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       3 non-null      int64
 1   product_name     3 non-null      object
 2   product_price    3 non-null      object
 3   product_sold     3 non-null      object
 4   order_date       3 non-null      object
 5   delivery_status  3 non-null      int64
dtypes: int64(2), object(4)
memory usage: 276.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       3 non-null      int64
 1   product_name     3 non-null      string
 2   product_price    3 non-null      float64
 3   product_sold     3 non-null      int32
 4   order_date       3 non-null      datetime64[ns]
 5   delivery_status  3 non-null      category
dtypes: category(1), datetime64[ns](1), float64(1), int32(1), int64(1), string(1)
memory usage: 367.0 bytes
None
   product_id               product_name  product_price  product_sold  \
0           1                Camera DSLR       100000.0           100
1           2  Lensa Wide EF-S 24mm F2.8       150000.0           200
2           3    SD Card Xtreme Pro 32GB       200000.0           300

  order_date delivery_status
0 2024-12-25               1
1 2024-12-26               0
2 2024-12-27               1

### Mengonversi Tipe Data ke Float

In [6]:
df['product_price'] = df['product_price'].astype('float')

### Mengonversi Tipe Data ke Integer

In [7]:
df['product_sold'] = df['product_sold'].astype('int')

### Mengonversi Tipe Data ke Datetime

In [8]:
df['order_date'] = pd.to_datetime(df['order_date']) # Mengubah tipe data menjadi datetime

### Mengonversi Tipe Data ke Kategorikal

In [9]:
df['delivery_status'] = df['delivery_status'].astype('category')

## Permasalahan Rentang Data